body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  padding-top: 0.5em;
}

h1 {
  text-align: center;
  text-wrap: nowrap;
  font-size: 1.7rem;
}

h1 span {
  color: rgb(159, 107, 9);
}

h2 {
  margin-top: 1em;
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
}

.main-img {
  width: 100%;
  max-width: 800px;
}

a,
a:visited {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(159, 107, 9);
  border-bottom: 1px black solid;
}

.note {
  background-color: black;
  color: white;
  padding: 1em;
}

footer {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* for Computer screens */
@media screen and (min-width: 768px) {
  .part1,
  .part2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    gap: 1em;
  }

  .part1 > .col1 {
    width: 35%;
  }

  .part1 > .col2 {
    width: 40%;
  }

  .part1 > .col3 {
    width: 24%;
  }

  .part2 > .col1 {
    width: 60%;
  }

  .part2 > .col2 {
    width: 22%;
  }
}
